html {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

*, *:before, *:after {
		box-sizing: inherit;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.05em;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid
}



.content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0 15px;
}

.content-social {
	text-align: center;
}


.top-navigation .logo {
	margin-left: 14px;
	height: 70px;
}

.top-navigation ul {
float: right;
display: block;
position: relative;
top: -25px;

}

.top-navigation .links li {
	list-style:none;
	margin-top:35px;
	display: inline-block;
	margin-left: 0.90em;
}

.top-navigation .links li:hover {
	color: #333333;
	cursor: pointer;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

/* Introduction Section */
.introduction {
	background-image: url('../images/backgroundimage.jpg');
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 599px;
	} 

.introduction .content {
	color: white;
	text-align: center;
	margin: 0 auto;
	padding: 200px 0;
}

.introduction h1 {
	font-size: 44px;
	font-weight: 300;
}

.introduction h3 {
	margin-top: -25px;
	font-size: 25px;
	font-weight: 300;
}

.big-button {
	width: 155px;
	height: 53px;
	font-size: 18px;
	margin-top: -3px;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
}

.big-button:hover {
	background-color: #d9400e;
	cursor: pointer;
}

/* Devices Section */

.cases h2 {
	color: #1d1e21;
	text-align: center;
	font-size: 2.75rem;
	font-weight: 300;
	margin-top: 80px;
	margin-bottom: 30px;
}

.cases .devices {
	width: 33.3333333%;
	float: left;
	text-align: center;
}

.cases .devices h3 {
	color: #1d1e21;
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0px 1.875rem;
	text-align: center;
}

/* Footer Section */

.social {
	float: left;
	width: 100%;
	margin: 0 auto;
}

.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}

.social h5{
	color: #1d1e21;
	font-weight:400;
	font-size:16px;
	text-align: center;
}

.social li {
	list-style: none;
	display: inline-block;
}

.social li i{
	width: 38px;
}

.social .icons {
	text-align: center;
	position: relative;
}

.social .fa-twitter {
	color: #55acee;
	border-radius: 50%;
	border: 1px solid #eaebec;
	padding: 10px;
}

.social .fa-facebook {
	color: #4c66a4;
	border-radius: 50%;
	border: 1px solid #eaebec;
	padding: 10px;
}

.social .fa-instagram {
	color: #3f729b;
	border-radius: 50%;
	border: 1px solid #eaebec;
	padding: 10px;
}

.social .copy {
	font-weight: 300;
	font-size: 14px;
	text-align: center;
}

ul.icons {
	padding-left: 0;
}


